//================
//== #VARIABLES ==
//================
$html-size: 62.5%;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

//===============
//== #SPACINGS ==
//===============
$sizing: 1rem;

$xs-sizing: $sizing * 2; //20
$sm-sizing: $sizing * 4; //40
$m-sizing: $sizing * 6; //60
$l-sizing: $sizing * 8; //80
$xl-sizing: $sizing * 10; //100

//=============
//== #RADIUS ==
//=============
$radius: 0.3rem;

//=================
//== #FONT STACK ==
//=================

$font-stack-default: system-ui, "Segoe UI", sans-serif;
$font-stack-1: "Bebas Neue", cursive;
$font-stack-2: "Lora", serif;

//=================
//== #FONT SIZES ==
//=================

$typesetting: (
  -2: 1.2rem,
  -1: 1.5rem,
  0: 1.8rem,
  1: 2.4rem,
  2: 3rem,
  3: 3.6rem,
  4: 4.2rem,
  5: 4.8rem
);

//============
//== #COLOR ==
//============

$rating-color: #f8f034;

//============
//== #OTHER ==
//============
$full-width: 100%;
