//==============
//== #BUTTONS ==
//==============

.btn {
  border: 0;
  background-color: transparent;
  padding: 0.5rem 1rem;
  font-size: typeSetting(-1);
  white-space: nowrap;
  min-width: $xl-sizing;
  font-family: $font-stack-default;
}

.btn-primary {
  border: 0.1rem solid;
  border-radius: $radius;
}

.btn-favorite {
  min-width: initial;
  padding: 0;
}

.btn-toggle {
  min-width: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid;
  border-radius: $radius;
}

.btn--icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--center {
  margin-left: auto;
  margin-right: auto;
}
