//=====================
//== #MOVIE DETAILTS ==
//=====================

.movie-details {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.movie-details__lang {
  width: 30px;
  padding: 0;
}