//====================
//== #MOVIE DETAILS ==
//====================

.movie-details {
  display: flex;
  align-items: center;
  font-size: typeSetting(-2);
}

.movie-details__lang {
  width: 3rem;
  min-height: 2.4rem;
  padding: 0;
}

.movie-details__rating {
  fill: iconColor();
  margin-left: 0.5rem;
}

.movie-favourite {
  width: 2.1rem;
  height: 2.1rem;

  &.is-active {
    fill: iconColor("heart");
    stroke: iconColor("heart");
  }
}