.movie-label {
  display: flex;
  align-items: center;
  font-family: $font-stack-2;
  padding: ($sizing / 5) 0.8rem;
  border-radius: $radius;
  border: 0.1rem solid;

  &:not(:last-child) {
    margin-right: ($sizing / 2);
  }
}