.movie-list-item {
  display: flex;
  padding: $sizing;
}

.movie-list-item__title {
  font-size: typeSetting(0);
  letter-spacing: 0.2rem;
}

.movie-list-item__description {
  @include tracking(50);
  font-size: typeSetting(-1);
}

.movie-list-item__poster {
  width: 13rem;

  @include respond-to(xs) {
    display: none;
  }
}
