@import "./normalize";

html {
  box-sizing: border-box;
  font-size: $html-size;
  min-height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  line-height: 1.5;
  font-family: $font-stack-2;
  min-height: 100%;
  font-size: 1.6rem;
}

img {
  display: block;
  max-width: $full-width;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-1;
}

select {
  min-height: 3rem;
  font-size: 1.2rem;
}

input {
  min-height: 3rem;
}

#root {
  min-height: 100%;
}
