@import './normalize';

html {
  box-sizing: border-box;
  font-size: $html-size;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  line-height: 1.5;
  font-family: $font-stack-2;
  height: inherit;
}

img {
  display: block;
  max-width: $full-width;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-1;
}